<app-loading-spinner *ngIf="isLoading$ | async"></app-loading-spinner>
<mat-nav-list *ngIf="(isLoading$ | async) === false">
  <h3 mat-subheader>Users</h3>
  <a *ngFor="let user of users" mat-list-item [routerLink]="['/users', user.userId]">
    <img *ngIf="user.photoURL" matListAvatar [src]="user.photoURL" [alt]="user.displayName" />
    <mat-icon *ngIf="!user.photoURL" mat-list-icon>person</mat-icon>
    <h3 matLine>{{ user.displayName }}</h3>
    <p matLine>{{ user.email }}</p>
  </a>
</mat-nav-list>
