.tweet {
  margin: 16px;
}
.tweet.with-comments {
  margin-bottom: 0;
}

.mat-card-avatar {
  margin-bottom: 16px;
}

mat-icon.mat-card-avatar {
  color: #000;
  width: 40px;
  height: 40px;
  font-size: 40px;
  padding: 0;
}

.mat-card-title {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}

mat-card-content {
  margin-bottom: 0;
}

.tweet-date {
  color: rgba(0, 0, 0, 0.54);
  text-align: right;
}

.like-icon,
.remove-icon,
.comment-icon {
  color: rgba(0, 0, 0, 0.87);
}

.liked-icon,
.like-icon:hover,
.remove-icon:hover {
  color: red;
}

.comment-icon:hover {
  color: #3f51b5;
}

.spinner-container {
  margin: 0 8px;
}
