<section class="tweet" [class.with-comments]="showComments" fxLayout fxLayoutAlign="center">
  <mat-card fxFlex.lt-md="100%" fxFlex="800px">
    <mat-card-header fxLayoutAlign="flex-start center">
      <a [routerLink]="['/users', tweet.user.userId]" mat-card-avatar>
        <img mat-card-avatar [src]="tweet.user.photoURL" />
      </a>
      <a [routerLink]="['/users', tweet.user.userId]" mat-card-title>
        {{ tweet.user.displayName }}
      </a>
      <mat-card-subtitle>{{ tweet.user.email }}</mat-card-subtitle>
      <div class="tweet-date" fxFlex="1 1 auto" fxFlexAlign="flex-start" fxLayoutAlign="flex-end">
        {{ date }}
      </div>
    </mat-card-header>
    <mat-card-content>
      <p [innerHTML]="tweet.body"></p>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="space-between">
      <div *ngIf="isTweetLiking" fxLayoutAlign="center center">
        <mat-spinner diameter="24"></mat-spinner>
      </div>
      <button *ngIf="!isLiked && !isTweetLiking" mat-icon-button (click)="onLikeTweet()">
        <mat-icon class="like-icon">favorite_border</mat-icon>
        <span> {{ tweet.likes.length }}</span>
      </button>
      <button *ngIf="isLiked && !isTweetLiking" mat-icon-button (click)="onLikeTweet()">
        <mat-icon class="liked-icon">favorite</mat-icon>
        <span> {{ tweet.likes.length }}</span>
      </button>
      <div *ngIf="isTweetRemoving" fxLayoutAlign="center center">
        <mat-spinner diameter="24"></mat-spinner>
      </div>
      <button *ngIf="canRemove && !isTweetRemoving" mat-icon-button (click)="onRemoveTweet()">
        <mat-icon class="remove-icon">delete_outline</mat-icon>
      </button>
      <button mat-icon-button (click)="onToggleComments()">
        <mat-icon class="comment-icon">comment</mat-icon>
        <span> {{ tweet.childrenAmount }}</span>
      </button>
    </mat-card-actions>
  </mat-card>
</section>
<app-tweet-comments *ngIf="showComments" [tweetId]="tweet.id"></app-tweet-comments>
