<section class="tweet" fxLayout fxLayoutAlign="center">
  <mat-card fxFlex.lt-md="100%" fxFlex="800px">
    <mat-card-header fxLayoutAlign="flex-start center">
      <a [routerLink]="['/users', tweet.user.userId]" mat-card-avatar>
        <img mat-card-avatar [src]="tweet.user.photoURL" />
      </a>
      <a [routerLink]="['/users', tweet.user.userId]" mat-card-title>{{
        tweet.user.displayName
      }}</a>
      <mat-card-subtitle>{{ tweet.user.email }}</mat-card-subtitle>
      <div class="tweet-date" fxFlex="grow" fxFlexAlign="flex-start" fxLayoutAlign="flex-end">
        Yesterday
      </div>
    </mat-card-header>
    <mat-card-content>
      <p [innerHTML]="tweet.body"></p>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="space-between">
      <button mat-icon-button>
        <mat-icon class="like-icon">favorite_border</mat-icon>
        <span> {{ tweet.likes.length }}</span>
      </button>
      <button mat-icon-button>
        <mat-icon class="liked-icon">favorite</mat-icon>
        <span> {{ tweet.likes.length }}</span>
      </button>
      <button mat-icon-button>
        <mat-icon class="remove-icon">delete_outline</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="comment-icon">comment</mat-icon>
        <span> {{ tweet.childrenAmount }}</span>
      </button>
    </mat-card-actions>
  </mat-card>
</section>
