<section class="comment-form" [ngClass.lt-md]="'is-mobile'" fxLayout fxLayoutAlign="flex-end">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    [formGroup]="commentForm"
    (ngSubmit)="onSubmit(commentForm.value)"
    fxFlex.lt-md="95%"
    fxFlex="750px"
    #f="ngForm"
  >
    <mat-form-field>
      <textarea matInput rows="2" placeholder="What's happening?" formControlName="body"></textarea>
      <mat-hint>Please enter your message.</mat-hint>
      <mat-error>Missing message.</mat-error>
    </mat-form-field>
    <button
      *ngIf="(isLoading$ | async) === false"
      fxFlexAlign="flex-end"
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="commentForm.invalid"
    >
      Comment
    </button>
    <mat-spinner *ngIf="isLoading$ | async" diameter="36" fxFlexAlign="flex-end"></mat-spinner>
  </form>
</section>
