<div class="profile-image">
  <div *ngIf="user.photoURL" class="photo-container" fxLayoutAlign="center center">
    <img [matMenuTriggerFor]="profileMenu" [src]="user.photoURL" [alt]="user.displayName" />
    <div class="dropdown-caret"></div>
  </div>
  <div *ngIf="!user.photoURL" [matMenuTriggerFor]="profileMenu" fxLayoutAlign="center center">
    <mat-icon class="person-icon">person</mat-icon>
    <div class="dropdown-caret"></div>
  </div>
</div>
<mat-menu #profileMenu="matMenu">
  <a mat-menu-item routerLink="/profile-settings">
    <mat-icon>settings_applications</mat-icon>
    <span class="nav-caption">Settings</span>
  </a>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="onLogout()">
    <mat-icon>eject</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
