<section>
  <h1 class="mat-h1 page-title">Profile Settings</h1>
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="16px"
    [formGroup]="profileSettingsForm"
    (ngSubmit)="onSubmit(profileSettingsForm.value)"
  >
    <div class="profile-image">
      <img *ngIf="photoURL" [src]="photoURL" [alt]="user.displayName" />
      <mat-icon *ngIf="!photoURL">person</mat-icon>
    </div>
    <div>
      <button type="button" mat-raised-button (click)="fileInput.click()">Change image</button>
      <input
        hidden
        (change)="onFileSelected($event.target.files)"
        #fileInput
        type="file"
        accept=".jpg, .png, .jpeg"
        id="file-photo"
      />
    </div>
    <mat-form-field>
      <input type="text" matInput placeholder="Your name" formControlName="name" required />
      <mat-hint>Please enter your name.</mat-hint>
      <mat-error>Missing name.</mat-error>
    </mat-form-field>
    <mat-form-field class="m-b-0">
      <input type="email" matInput placeholder="Your email" formControlName="email" required />
    </mat-form-field>
    <mat-form-field>
      <input type="phone" matInput placeholder="Your phone" formControlName="phone" />
      <mat-hint>Please enter a valid phone.</mat-hint>
      <mat-error>Invalid phone.</mat-error>
    </mat-form-field>
    <button
      *ngIf="(isLoading$ | async) === false"
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="profileSettingsForm.invalid"
    >
      Save
    </button>
    <mat-spinner *ngIf="isLoading$ | async" diameter="36"></mat-spinner>
  </form>
</section>
